{% extends "base.html" %}
{% from "listinc.html" import clickstats %}

{% set username = 'TODO'%}

{% block title %}
  {% if linkobj.clicks < 1 %}
    Add Link
  {% else %}
    Edit go link #{{ linkobj.linkid }}
  {% endif %}
{% endblock title %}

{% block keyword %}
  {% if linkobj.clicks >= 1 %}_edit_/{{ linkobj.name }}
  {% else %}_add_{% endif %}
{% endblock keyword %}

{% block body %}
This is editlink.html
<div class="row-fluid">

<div class="column span6">

  {% if linkobj.clicks > 1 %}
  <a class="pull-right" style="margin-right: .25em;" href="/_delete_/{{ linkobj.linkid }}?returnto={{ returnto }}">DELETE</a>
  {% endif %}

<div class="inner">
 <form action="/_modify_">
  {% if returnto %}
    <input type="hidden" name="returnto" value="{{ returnto|escapekeyword }}"/>
  {% endif %}

  {% if linkobj.linkid %}
    <input type="hidden" name="linkid" value="{% if linkobj.linkid == 'None' %}{{ linkobj.linkid }} {% else %}{% set linkid_ = tools.nextlinkid() %}{{linkid_}}{% endif %}"/>
  {% endif %}

  <table class="table linkedit">
    {% if error %}
    <tr>
    <td colspan="3"><h4 class="alert">{{ error }}</h4></td>
    </tr>
    {% endif %}

    <tr>
      <td>Title</td>
      <td>
        <input type="text" name="title" maxlength="140" size="50" value="{% if linkobj.title != 'None' %}{{ linkobj.title }}{% endif %}"/>
      </td>
      <td class="help"></td>
    </tr>

    <tr>
      <td>URL</td>
      <td>
        <textarea name="url" rows="4" cols="50">{% if linkobj.url != 'None' %}{{ linkobj.url }}{% endif %}</textarea>
      </td>
    </tr>

   <tr>
     <td>Lists</td>
     <td>
     {# Get all the lists this link exists within. #}

     {% set listnames = tools.getlistmembership(linkobj.linkid) %}
      {% for t in listnames %}
      
       <input type="checkbox" name="lists" checked="checked" value="{{ t }}">
       <a href="/.{{ t|escapekeyword }}">
       {{ t }}
       </a></input>
       <br/>
      {% endfor %}
      add to: <input type="text" name="otherlists" value="{{ otherlists }}"/> <i>(space-separated)</i>
     </td>
   </tr>

   <tr>
     <td/>
     <td>
         <input type="submit" value="Submit Link"/>
     </td>
   </tr>
  </table>
 </form>
</div>
</div> {# end inner #}

<div class="column span6">
<div class="inner">
      {#{% include "vartable.html" %} #}
<p>also see <a href="http://docs.python.org/2/library/string.html#format-specification-mini-language">Python Format Syntax</a> for variable formatting
and <a href="http://docs.python.org/library/re.html#regular-expression-syntax">Python Regex Syntax</a> for regexes
</div>
</div>

</div>

{# {{ clickstats(L) }} #}

<br/>edits:
{% for editor, editTime in linkobj.edits %}
<br/>&mdash;&nbsp;{{ editTime|time_t }} by {{ editor }}
{% endfor %}

{% endblock body %}
