{% extends "base.html" %}

{% set username = 'testman' %}
{% set alltoplinks = tools.toplinks() %}

{% from "listinc.html" import linkrender %}

{% block keyword %}<form style="display: inline;" action="/"><input type="text" name="keyword" size="12" value=""/></form>
{% endblock %}


{% block body %}
<div class="row-fluid">
<div class="span6 column">
<h4 class="center"><a href="/special">Special Cases</a></h4>
<table class="table table-striped">
{% for link in range(15): %}
    carrots. walruses...{{link}}<br>

{% endfor %}
</table>
</div>

<div class="span6 column">
<h4 class="center"><a href="/toplinks?n=100">Recent Top Links</a></h3>
<table class="table table-striped">
{% if alltoplinks %}
    {% for idx, item in enumerate(alltoplinks) %}

        {% set link = tools.getlink(item[0])%}
         {{ linkrender(idx+1, link, username) }}

    {% endfor %}

{% endif %}
</table>
</div>

</div>

<h4>Lists used in last 30 days</h3>
<div>
derp
</div>

{% endblock body %}
