{% extends "base.html" %}

{% set alltoplinks = tools.toplinks(12) %}
{% set username = 'TODO' %}

{% from "listinc.html" import m_linkrender, clickstats with context %}

{% block titlekeyword %}{{ keyword }}{% endblock %}
{% block keyword %}{{ keyword }}{% endblock %}

{% block body %}

<div class="row-fluid">

<h3 class="center">{{ linkobj.name }}</h3>
  <div class="column span8 offset2">

  <table class="table table-striped">
{# The link exists already. Show all the fields. #}
<!--   <tr>
  <td colspan="3">
    <form action="/_setbehavior_" style="margin: 0; text-align: center;">
    <input type="hidden" name="keyword" value="{{ keyword }}"/>
    <b><a href="/{{ keyword|escapekeyword }}">go/{{ keyword }}</a></b> redirects to <select name="behavior" {% if not username %}disabled="true"{% endif %}>
       <option value="list" {% if listmeta.behavior == "list" %}selected{% endif %}>this list of links</option>
       <option value="freshest" {% if listmeta.behavior == "freshest" %}selected{% endif %}>the freshest link</option>
       <option value="top" {% if listmeta.behavior == "top" %}selected{% endif %}>the most used link</option>
       <option value="random" {% if listmeta.behavior == "random" %}selected{% endif %}>a random link</option>
       {# If it's already in a list, put those here with checked boxes. #}
       {# Put this keyword in as a minimum. #}
       {% for link in popularLinks %}
           <option value="{{ link.linkid }}" {% if L._url == str(link.linkid) %}selected{% endif %}>
           {{ link.title or link._url }}</option>
       {% endfor %}
     </select>
     {% if username %}
     <input type="submit" value="Change Behavior"/>
     {% endif %}
    </form>
    </td>
    </tr> -->


{# The link doesn't exist, so show give the option to add this as a new list. #}
{% if linkobj == None %}
    <tr>
    <td colspan="3">
    <h4 class="center">
  {% if username %}
    <a class="center" href="/_add_/{{ keyword|escapekeyword }}">Add new link</a>
  {% else %}
    <a href="/_login_?redirect={{ getCurrentEditableUrlQuoted() }}">Login to edit this list</a>
  {% endif %}
  </h4>
    </td>
  </tr>
{% endif %}


{% for idx, item in enumerate(alltoplinks) %}
  {% set link = tools.getlink(item[0])%}
  {{ m_linkrender(idx+1, link, username) }}
{% else %}
      <tr>
      <td><h4 class="center">No links for this keyword.</h4>
      </td>
      </tr>
  {% endfor %}
  </table>
  </div>

  </div>

{# {{ clickstats(L) }} #}
{% endblock body %}
