{% extends "base.html" %}
{% set username = 'fromlisthtml' %}
{% from "listinc.html" import m_linkrender, clickstats with context %}
{% block titlekeyword %}
  {{ keyword }}
{% endblock %}
{% block keyword %}
  {{ keyword }}
{% endblock %}

{% block body %}
This is list.html
{{ thelist|pprint(true) }}
<div class="row-fluid">

  <h3 class="center">{{ keyword }}</h3>
  <div class="column span8 offset2">

    <table class="table table-striped">
    
      {# The link exists already. Show all the fields. #}
      {% if thelist|length > 0 %}

      <tr>
        <td colspan="3">
          <form action="/_setbehavior_" style="margin: 0; text-align: center;">
            <input type="hidden" name="keyword" value="{{ keyword }}"/>
            <b><a href="/{{ keyword|escapekeyword }}">go/{{ keyword }}</a></b> redirects to 
            <select name="behavior" {% if not username %}disabled="true"{% endif %}>
            <option value="list" {% if thelist.behavior() == "list" %}selected{% endif %}>this list of links</option>
            <option value="freshest" {% if thelist.behavior() == "freshest" %}selected{% endif %}>the freshest link</option>
            <option value="top" {% if thelist.behavior() == "top" %}selected{% endif %}>the most used link</option>
            <option value="random" {% if thelist.behavior() == "random" %}selected{% endif %}>a random link</option>

            
            {# Put this keyword in as a minimum. #}
            {# {% for listname in tools.getlistmembership(thelist.linkid) %} #}
              {# {% set linkinfo = tools.getlink(listname) %} #}
              <!-- <option value="{{ keyword }}" selected>{{ keyword }}</option> -->
            {# {% endfor %} #}
            </select>
            {% if username %}
              <input type="submit" value="Change Behavior"/>
            {% endif %}
          </form>
        </td>
      </tr>
      {% else %}
      {# The link doesn't exist, so show give the option to add this as a new list. #}
      {% endif %}
      <tr>
        <td colspan="3">
          <h4 class="center">
            {% if username %}
              <a class="center" href="/_add_/{{ keyword|escapekeyword }}">Add new link</a>
            {% else %}
              <a href="/_login_?redirect={{ getCurrentEditableUrlQuoted() }}">Login to edit this list</a>
            {% endif %}
          </h4>
        </td>
      </tr>
      

      {# return a list of link objects that exist in a list. #}
      {% set listoflinks = thelist.members() %}
      {% set idx = 0 %}
      {% for linkid, linkdata in listoflinks.items() %}
        {{ m_linkrender(idx+1, linkdata, username, linkid) }}
        
      {% else %}
        <tr>
          <td>
            <h4 class="center">No links for this keyword.</h4>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

{# {{ clickstats(L) }} #}
{% endblock body %}
