{% extends "base.html" %}

{% from "listinc.html" import m_linkrender with context %}
{% set username = toplinker %}

{% block keyword %}toplinks{% endblock keyword %}
{% block title %}Top {{ numlinks }} go/ Links{% endblock title %}

{% block body %}

<div class="row-fluid">
<h3 class="center">Top {{ numlinks }} Links</h3>
<div class="span12 column">
<table class="table table-striped">
{% set toplinks = tools.toplinks(numlinks) %}
{{ toplinks }}
  {% for idx, link in enumerate(toplinks): %}
    {{ m_linkrender(idx+1, link, username) }}
  {% endfor %}
</table>
</div>
</div>
{% endblock body %}

